*{
    margin: 0;
    
}


 .nav-list{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: black;
}
.nav-list ul{
  display: flex;
  gap: 20px;
}
  ul a{
  text-decoration: none;
  color: white;
}
.nav-list li {
list-style-type: none;
}
.content{
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
  color: white;
}
.content:hover{
  text-decoration: underline;
  transition: 2s;
  transform: 0%;
   color: #f80;
}
.hura-text {
  font-size: 25px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-icon, 
.close-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.mobile-menu  {
   display: flex;
  flex-direction: column;
  gap: 25px; 
}

 .mobile-menu.show {
  right: 0;
}  


.header-section{
    max-width: 100%;
   
}
.about-section {
  background-image: url(About-image/about4.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.section{
background-color: rgb(236, 231, 231);
flex-wrap: wrap;
}
.about-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;   
}
.about-text{
  max-width: 400px;
  font-size: 12px;
  line-height: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.about-text h4{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.about-image img{
  margin-top: 30px;
  max-width: 300px;
  max-height: 300px;
    
}
.about-text-p{
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.about-text-p2{
  margin-top: 14px;
}
.price-header-text{
  text-align: center;
  color: #f80;
  font-weight: bolder;
}
.version-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.version-img img{
  margin-top: 50px;
  margin-right: 30px;
  max-width: 400px;
  max-height: 400px;
}
.version-text{
  max-width: 300px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.version-text h2{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.mission-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mission-text{
   max-width: 400px;
    margin-right: 0px;
    font-size: 12px;
    line-height: 30px;
   font-family: 'Times New Roman', Times, serif;
}
.mission-text h2{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
.mission-img img{
    margin-top: 50px;
    margin-right: 0px;
    max-width: 400px;
    max-height: 400px;
}
.main{
background-color: #000;
text-align: center;
margin-top: 20px;
}
.footer-header{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
 max-height:30vh; 
}
.footer-header h5{
  margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 19px;
margin-bottom: 30px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
  margin-bottom: 14px;
}
.fa-brands {
  padding: 9px;
  gap: 20px;
  margin-top: 14px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 13px;
}
.footer-link a{
  text-decoration: none;

  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
}
.last-section{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%;
}



