@media (max-width: 1000px) {
.main-header {
   /* max-height: 100vh; */
}

 .mobile-menu {
  position: fixed;  
  top: 0;
  right: -100%;     
  width: 100%;
  height: 100vh; 
  background: #000;
  color: white; 
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 100; 
}
  .nav-list ul {
    display: block; 
    text-align: center;
  }
  .hura-text{
    color: #f80;
    font-size: 18px;
    position: fixed;
  }

.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
    display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 0px;
    bottom: 0px;
    font-size: 25px;
    align-items: center; 
}
  .close-icon {
    display: block; 
    font-size: 25px;
    margin-bottom: 20px;
}
}

/* @media (max-width:1300px){
.hura-text{
    color: #f80;
    font-size: 25px;
    position: fixed;
  }

.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
    display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 0px;
    bottom: 0px;
    font-size: 35px;
    align-items: center; 
}
  .close-icon {
    display: block; 
    font-size: 35px;
    margin-bottom: 20px;
}

.about-section {
    height: 70vh;
   } 

.about-section h1 {
     font-size: 3rem;
   }
   .about-text{
    max-width: 700px;
    font-size: 22px;
    line-height: 30px;
   
}
.about-text h4{
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 19px;
   
}
.about-image img{
    margin-top: 40px;
    max-width: 380px;
    max-height: 380px;   
}
.version-section{
 gap: 40px;
}
.version-img img{
max-width: 700px;
}
.version-text{
margin-left: 40px;
font-size: 22px;
max-width: 380px;
max-height: 380px; 
   
}
.mission-img img{
margin-top: 50px;
margin-right: 0px;
max-width: 380px;
max-height: 380px;
}
.mission-text{
font-size: 22px;
max-width: 700px;
}
} */

@media (max-width:999px){
.hura-text{
    color: #f80;
    font-size: 25px;
    position: fixed;
  }

.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
    display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 0px;
    bottom: 0px;
    font-size: 35px;
    align-items: center; 
}
  .close-icon {
    display: block; 
    font-size: 35px;
    margin-bottom: 20px;
}

.about-section {
    height: 70vh;
   } 

.about-section h1 {
     font-size: 2rem;
   }
   .about-text{
    max-width: 400px;
    font-size: 18px;
    line-height: 30px;
   
}
.about-text h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
   
}
.about-image img{
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;   
}
.version-text{
    
    margin-right: 0px;
    font-size: 18px;
    
}
.mission-img img{
  margin-top: 50px;
    margin-right: 0px;
    max-width: 340px;
    max-height: 340px;
}
.mission-text{
    font-size: 18px;
}

.footer-header{
  flex-direction: column;
  gap: 20px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%;
}

}

@media (max-width:699px){
   .about-section {
    height: 70vh;
   } 

   .about-section h1 {
     font-size: 2rem;
   }
   .about-text{
    max-width: 400px;
    font-size: 12px;
    line-height: 30px;
   
}
.about-text h4{
    margin-top: 15px;
    margin-bottom: 18px;
    font-size: 15px;
   
}
.about-image img{
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;   
}
.mission-img img{
  margin-top: 50px;
    margin-right: 0px;
    max-width: 340px;
    max-height: 340px;
}
}
@media (max-width:690px){
.about-section {
        height: 55vh;
    }
.about-section h1 {
  font-size: 2rem;
}
.about-header{

    gap: 10px;
    
}
.about-text{
    max-width: 300px;
    font-size: 12px;
    line-height: 20px;
   
}
.about-text h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    
}
.about-image img{
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;  
}

.version-img img{
    margin-top: 50px;
    margin-right: 30px;
    max-width: 300px;
    max-height: 300px;
}
.version-text{
    max-width: 200px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 20px;
}
.version-text h2{
    font-size: 17px;
}
.mission-header{
    gap: 10px;
}
.mission-text{
   max-width: 300px;
    margin-right: 0px;
    font-size: 12px;
    line-height: 20px;
}
.mission-text h2{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 17px;
}
.mission-img img{
  margin-top: 50px;
    margin-right: 0px;
    max-width: 250px;
    max-height: 250px;
}

}
@media (max-width:490px){
.about-section {
        height: 50vh;
        
    }
    .section{
background-color: rgb(236, 231, 231);
flex-wrap: wrap;
}
.about-header{
margin-left: 5px;
    gap: 7px;
    
}
.about-text{
    max-width: 270px;
    font-size: 10px;
    line-height: 20px;
   
}
.about-text h4{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    
}
.about-image img{
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;  
}

.version-img img{
    margin-top: 50px;
    margin-right: 30px;
    max-width: 270px;
    max-height: 270px;
}
.version-text{
    max-width: 200px;
    margin-right: 0px;
    font-size: 10px;
    line-height: 20px;
}
.version-text h2{
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 5px;
}
.mission-header{
    gap: 7px;
}
.mission-text{
   max-width: 270px;
    margin-right: 0px;
    font-size: 10px;
    line-height: 20px;
    margin-top: 25px;
}
.mission-text h2{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 15px;
}
.mission-img img{
  margin-top: 50px;
    margin-right: 0px;
    max-width: 220px;
    max-height: 220px;
}
}

@media (max-width:480px){
.about-section {
        height: 30vh;
        
    }
.section{
background-color: rgb(236, 231, 231);
flex-wrap: wrap;
}

.content{
    font-size: 20px;
    margin-top: 15px;
}  
.hura-text {
  font-size: 16px;
  top: 5px;
}
.menu-icon{
    font-size: 20px;
}
.close-icon {
    display: block; 
    font-size: 25px;
}
.about-header{
margin-left: 2px;
    gap: 5px;
    
}
.about-header{
margin-left: 5px;
gap: 7px;
    
}
.about-text{
    max-width: 240px;
    font-size: 10px;
    line-height: 14px;
   
}
.about-text h4{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 16px;
    
}
.about-image img{
    margin-top: 20px;
    max-width: 180px;
    max-height: 180px;  
}

.version-img img{
    margin-top: 50px;
    margin-right: 0px;
    max-width: 220px;
    max-height: 220px;
}
.version-text{
    max-width: 200px;
    margin-right: 0px;
    font-size: 10px;
    line-height: 15px;
}
.version-text h2{
    margin-top: 35px;
    font-size: 15px;
    margin-bottom: 5px;
}
.mission-header{
    gap: 7px;
}
.mission-text{
   max-width: 240px;
    margin-right: 0px;
    font-size: 10px;
    line-height: 16px;
    margin-top: 25px;
}
.mission-text h2{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 15px;
}
.mission-img img{
  margin-top: 50px;
    margin-right: 0px;
    max-width: 190px;
    max-height: 190px;
    
}
}

@media (max-width:399px){
.about-section {
  height: 30vh;
    }
  .section{
background-color: rgb(236, 231, 231);
flex-wrap: wrap;
}
.content{
    font-size: 20px;
    margin-top: 15px;
}  
.hura-text {
  font-size: 16px;
  top: 5px;
}
.menu-icon{
    font-size: 20px;
}
.close-icon {
    display: block; 
    font-size: 25px;
}
.about-header{
margin-left: 2px;
    gap: 5px;
    
}
.about-text{
    max-width: 200px;
    font-size: 8px;
    line-height: 10px;
    margin-top: 5px;
}
.about-text h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px; 
}
.about-text-p2{
    margin-top: 6px;
}
.about-image img{
    margin-top: 15px;
    max-width: 140px;
    max-height: 140px;  
}
.about-section h1 {
   font-size: 1.4rem; 
}
.version-section{
    gap: 5px;
}
.version-img img{
    margin-top: 20px;
    margin-right: 0px;
    max-width: 180px;
    max-height: 180px;
}
.version-text{
    max-width: 140px;
    margin-right: 0px;
    font-size: 10px;
    line-height: 10px;
}
.version-text h2{
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}
.mission-header{
    gap: 5px;
}
.mission-text{
    max-width: 180px;
    margin-right: 0px;
    font-size: 8px;
    line-height: 10px;
    margin-top: 5px;
}
.mission-text h2{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 12px;
}
.mission-img img{
    margin-top: 40px;
    margin-right: 0px;
    max-width: 150px;
    max-height: 150px;
}

.footer-header{
  flex-direction: column;
  gap: 10px;
  
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}

}


