
body{
    margin: 0;
  background-color: rgb(236, 231, 231);
}

 .nav-list{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: black;
}
.nav-list ul{
  display: flex;
  gap: 20px;
}
ul a{
  text-decoration: none;
  color: white;
}
.nav-list li {
list-style-type: none;
}
.content{
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
  color: white;
}
.content:hover{
  text-decoration: underline;
  transition: 2s;
  transform: 0%;
  color: #f80;
}
.hura-text {
  font-size: 25px;
  top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-icon, 
.close-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.mobile-menu  {
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

 .mobile-menu.show {
  right: 0;
}  

.coverage-header h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

.map-container {
  width: 99%;
  max-width: 1000px; 
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.main{
background-color: #000;
text-align: center;
margin-top: 20px;
}
.footer-header{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: stretch;
  gap: 50px;

}
.footer-header h5{
  margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 19px;
margin-bottom: 30px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
  margin-bottom: 14px;
}
.fa-brands {
  padding: 9px;
  gap: 20px;
  margin-top: 14px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 13px;
}
.footer-link a{
  text-decoration: none;

  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
}
.last-section{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%;
}

@media (max-width: 860px) {
.main-header {
   max-height: 100vh;
}

 .mobile-menu {
  position: fixed;  
  top: 0;
  right: -100%;     
  width: 100%;
  height: 100vh; 
  background: #000;
  color: white; 
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 100; 
}
  .nav-list ul {
    display: block; 
    text-align: center;
  }
  .hura-text{
    color: #f80;
    font-size: 18px;
    position: fixed;
  }


.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
    display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 4px;
    bottom: 0px;
    font-size: 22px;
    align-items: center; 
}
  .close-icon {
    display: block; 
    font-size: 25px;
    margin-bottom: 20px;
}
}

@media (max-width: 768px) {
  .map-container {
    height: 400px;
  }
  
.footer-header{
  flex-direction: column;
  gap: 20px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 5px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%;
}
}

@media (max-width: 480px) {
  .map-container {
    height: 460px;
  }
  
.footer-header{
  flex-direction: column;
  gap: 20px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 5px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%;
}
}
@media (max-width: 320px) {
  .map-container {
    height: 400px;
  }

.menu-icon {
    font-size: 20px;
}
.hura-text{
    font-size: 20px;
  }
  
.close-icon {
    display: block; 
    font-size: 22px;
    margin-bottom: 10px;
}

.content{
    font-size: 20px;
    margin-top: 15px;
}
.footer-header{
  flex-direction: column;
  gap: 10px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}
}
