@media (max-width: 860px) {
.main-header {
   max-height: 100vh;
}

 .mobile-menu {
  position: fixed;  
  top: 0;
  right: -100%;     
  width: 100%;
  height: 100vh; 
  background: #000;
  color: white; 
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 100; 
}
  .nav-list ul {
    display: block; 
    text-align: center;
  }
  .hura-text{
    color: #f80;
    font-size: 22px;
    position: fixed;
  }

.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
     display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 0px;
    bottom: 0px;
    font-size: 30px;
    align-items: center; 
}
  .close-icon {
    display: block; 
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-header{
  flex-direction: column;
  gap: 20px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}
}
@media (max-width:690px){
    .hotel-plan{
  background-image: url(plans/hotel-pl11.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-plan {
  color: white;
  font-size: 0.5rem;
  text-align: center;
}

.footer-header{
  flex-direction: column;
  gap: 10px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}
}
@media (max-width:480px){
    .hotel-plan{
  background-image: url(plans/hotel-pl11.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-plan {
  color: white;
  font-size: 0.3rem;
  text-align: center;
}
.content{
    font-size: 20px;
    margin-top: 15px;
}
.footer-header{
  flex-direction: column;
  gap: 10px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}
}

@media (max-width:320px){
    .hotel-plan{
  background-image: url(plans/hotel-pl11.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotel-plan {
  color: white;
  font-size: 0.3rem;
  text-align: center;
}
  .menu-icon {
    font-size: 20px;
}
.hura-text{
    font-size: 20px;
  }
.content{
    font-size: 20px;
    margin-top: 15px;
}
.footer-header{
  flex-direction: column;
  gap: 10px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}
}

@media (max-width:690px){
    .resi-plan{
  background-image: url(plans/resi-plan1.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resi-plan {
  color: white;
  font-size: 0.4rem;
  text-align: center;
}

.content{
    font-size: 20px;
    margin-top: 15px;
}
.footer-header{
  flex-direction: column;
  gap: 10px;
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}
}

@media (max-width:420px){
    .resi-plan{
  background-image: url(plans/resi-plan1.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resi-plan {
  color: white;
  font-size: 0.3rem;
  text-align: center;
}
  .menu-icon {
    font-size: 20px;
}
.hura-text{
    font-size: 20px;
  }


}.content{
    font-size: 20px;
    margin-top: 15px;
}

@media (max-width:320px){
    .resi-plan{
  background-image: url(plans/resi-plan1.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resi-plan {
  color: white;
  font-size: 0.3rem;
  text-align: center;
}
 .hura-text{
    font-size: 18px;
  }
.content{
    font-size: 20px;
    margin-top: 15px;
}

  .menu-icon {
    font-size: 20px;
}

.footer-header{
  flex-direction: column;
  gap: 10px;
  
}

.main{
background-color: #000;
text-align: center;

}
.footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 5%;
}

}