body{
  background-color: rgb(236, 231, 231);
  margin: 0;
}

 .nav-list{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: black;
}
.nav-list ul{
  display: flex;
  gap: 20px;
}
  ul a{
  text-decoration: none;
  color: white;
}
.nav-list li {
list-style-type: none;
}
.content{
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
  color: white;
}
.content:hover{
  text-decoration: underline;
  transition: 2s;
  transform: 0%;
   color: #f80;
}
.hura-text {
  font-size: 25px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-icon, 
.close-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.mobile-menu  {
   display: flex;
  flex-direction: column;
  gap: 25px; 
}

 .mobile-menu.show {
  right: 0;
}  

.hotel-plan{
  background-image: url(plans/hotel-pl11.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-plan {
  color: white;
  font-size: 0.5rem;
  text-align: center;
}
.price-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
  flex-wrap: wrap;
}

.price-header{
  margin-top: 28px;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.price-box-header{
    margin-top: 28px;
    text-align: center;
    font-size: 14px;
}
.price-box-header p{
  font-size: 10px;
}
.price-header-text{
    text-align: center;
    color: #f80;
    font-weight: bolder;
}
.price-image{
  text-align: center;
}
.price-images img{
  width: 50px;
  background-color: #f80;
  border-radius: 40px;
  padding: 10px;
  
}
.price-box{
  box-shadow: 0px 2px 2px;
  padding-top:  18px;
  width: 200px;
  height: 240px;
  border-radius: 15px; 
  color: #000;
}
.price-box h4{
  margin-left: 15px;
  font-size: 17px;
  font-family:'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
}
.price-item{
  margin-bottom: 6px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
 
  margin-left: 15px;
}
.price-icon{
  width: 15px;
  background-color: #f80;
  border-radius: 20px;
  padding: 2px;
}
.price-num h4{
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.price-buttons,
.price-button{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

button{
    border: none;
    background-color: rgb(236, 231, 231);
    width: 100px;
    padding: 4px;
    border-radius: 8px;
    border: solid 1px #f80;
}

.main{
background-color: #000;
text-align: center;
margin-top: 20px;
}
.footer-header{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
 
}
.footer-header h5{
  margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 19px;
margin-bottom: 30px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
  margin-bottom: 14px;
}
.fa-brands {
  padding: 9px;
  gap: 20px;
  margin-top: 14px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 13px;
}
.footer-link a{
  text-decoration: none;

  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
}
.last-section{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%;
}