* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family:'Times New Roman', Times, serif ;
}

.header-section{
  background-color: rgb(236, 231, 231);
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 0%;
  overflow: hidden;
}
.main-header {
  
  max-width: 100%;
  max-height: 100vh;
   background-color:#280B08;    
  /* background-color: #24221B; */

  align-items: center;
}
.paystack-header{
margin: 0 200px;
}
.paystack-btn{
background-color: green;
color: #fff;
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
margin-top: 3px;
padding: 3px;
border-radius: 5px;
box-shadow:0px 2px 2px #000 ;
}
.nav-list{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-list ul{
  display: flex;
  gap: 20px;
}
 ul li a{
  text-decoration: none;
  color: white;
}
.nav-list li  {
list-style-type: none;

}
.nav-list a{
text-decoration: none;
}
.content{
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
  color: white;
}
.content:hover{
  text-decoration: underline;
  transition: 2s;
  transform: 0%;
   color: #f80;
}
.hura-text {
  font-size: 25px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-icon, 
.close-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.mobile-menu  {
   display: flex;
  flex-direction: column;
  gap: 25px; 
}

.mobile-menu.show {
  right: 0;
} 
.header-flexbox{
text-align: center;
}
.left-section{
  color: white;
}
.left-section h1{
 margin-top: 0px;
 font-size: 22px;
 text-shadow: 0px 2px 2px rgb(37, 35, 35);
}
.left-section p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}
.text-header{
  color:#f80;
}
.btn2,
.btn1{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 150px;
  padding: 10px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 17px;
  border: 2px solid #f80 ;
  font-size: 12px;
}
.btn2:hover,
.btn1:hover{
  color: #f80 ;
  transform: translateY(-5px);
  cursor: pointer;
}

.bg-image{
background-image: url('/images/dece1-removebg-preview.png');
  background-size: 40%;  
  background-position: center; 
  background-repeat: no-repeat;
  height: 70vh;
 display: flex;
 align-items: center;
}
.bg1-image{
  background-image: url('/images/hurr-removebg-preview-removebg-preview-removebg-preview.png');
  background-size: 50%;  
  background-position:center;
  background-repeat: no-repeat;
  height: 70vh;
 /* display: flex;
 align-items: center; */
}
.bg2-image{
  
    background-image: url('/images/decc-removebg-preview.png');
  background-size: contain;  
  background-position: center; 
  background-repeat: no-repeat;
  height: 70vh;
 display: flex;
 align-items: center;
}
.bg3-image{
    background-image: url('/images/hura-image00-removebg-preview-removebg-preview.png');
  background-size: contain;  
  background-position: center; 
  background-repeat: no-repeat;
  height: 70vh;
 display: flex;
 align-items: center;
}
.text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 25px;
 margin-left: 10px;
 margin-bottom: 10%;
}
.carousel-image2 img{
  margin-left: 0px;
  max-width: 400px;
  margin-bottom: 0;
  text-align: center;
}
/* .carousel-image2 img{
    margin-left: 0px;
  max-width: 200px;
  margin-bottom: 0;
  border: 3px solid #f80;
} */
.blob-image{
  background-image: url('images/blob-haikei.png');
  position: relative;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 70vh;
}
.blob-image img{
  
}
.carousel-image3{
  background-image: url('images/hura-image022-removebg-preview.png');
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 70vh;
}
.About-section{
    display: flex;
    align-items: center;
}
.about-img{
    width: 350px;
    margin-right: 10px;
    margin-top: 40px;
}
.About-text{
    margin-left: 0px;
    line-height:20px;
    font-family: 'Times New Roman', Times, serif;
}
.header-section h2{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    color: #000;
    font-weight: bolder;
    text-align: start;
}
.about-info{
    margin-left: 8px;
    color: #000;
    font-weight: 200;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family:
    Georgia, 'Times New Roman', Times, serif;

} 
.btns{
    margin-top: 30px;
    margin-bottom: 0px;
    width: 150px;
    padding: 12px;
    border-radius: 25px;
    color: black;
    background-color: rgb(236, 231, 231);
    font-size: 18px;
    border: 2px solid #f80 ;
    font-size: 12px;
}

.service-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  
}
.service-header h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top:40px;
  font-size: 20px;
  color: #000;
  font-weight: bolder;
  
}
.service-box-icon{
  background-color: #f80;
  padding: 10px;
  font-size: 22px;
  border-radius: 50%;
  margin-bottom: 4px;
  width: 40px;
  text-align: start;
}
.service-box{
  box-shadow: 0px 2px 2px;
  padding:  10px;
  width: 220px;
  height: 200px;
  border-radius: 15px;
}
.service-box h4{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.service-box p{
  margin-top: 12px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.price-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
  flex-wrap: wrap;
  
}

.price-header{
  margin-top: 28px;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.price-box-header{
    margin-top: 28px;
    text-align: center;
    font-size: 14px;
}
.price-box-header p{
  font-size: 10px;
}
.price-header-text{
    text-align: center;
    color: #f80;
    font-weight: bolder;
}


.price-images{
  text-align: center;
}
.price-images img{
  width: 50px;
  background-color: #f80;
  border-radius: 40px;
  padding: 10px;
  
}
.price-boxs{
  box-shadow: 0px 2px 2px;
  padding-top:  18px;
  width: 200px;
  height: 280px;
  border-radius: 15px; 
  color: #000;
}
.price-boxs h4{
  margin-left: 15px;
  font-size: 17px;
  font-family:'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
}
.price-items{
  margin-bottom: 6px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
 
  margin-left: 15px;
}
.price-icons{
  width: 15px;
  background-color: #f80;
  border-radius: 20px;
  padding: 2px;
}
.price-nums{
  font-size: 12px;
  margin-top: 12px;
}

.price-image{
  text-align: center;
}
.price-image img{
  width: 50px;
  background-color: #f80;
  border-radius: 40px;
  padding: 10px;
  border: #fff solid 2px;
}
.price-box{
  box-shadow: 0px 2px 2px;
  padding-top:  18px;
  width: 200px;
  height: 280px;
  border-radius: 15px; 
  background-color:#f80;
  color: #fff;
}
.price-box h4{
  margin-left: 15px;
  font-size: 17px;
  font-family:'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
}
.price-item{
  margin-bottom: 6px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
 
  margin-left: 15px;
}
.price-icon{
  width: 15px;
  background-color: #f80;
  border: #fff solid 1px;
  border-radius: 20px;
  padding: 2px;
}
.price-num{
  font-size: 12px;
  margin-top: 12px;
}

.price-btn1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  width: 150px;
  padding: 6px;
  border-radius: 10px;
  border: #f80 solid 2px;
  color:#f80 ;
  background-color:  rgb(236, 231, 231);
  font-size: 14px;
}
.price-btn2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  width: 150px;
  padding: 6px;
  border-radius: 10px;
  border: #fff solid 2px;
  color: white;
  background-color: #f80;
  font-size: 14px;
}
.progress{
 
}
.progress-container1{
  max-width: 70%;
  background: #f5f5f5;
  border-radius: 25px;
  overflow: hidden;
  height: 25px;
  margin: 10px 0;
}

.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4 {
  height: 100%;
  width: 1%; 
  background: #f80;
  color: white;
  text-align: end;
  font-weight: bold;
  line-height: 25px;
  border-radius: 25px;
  transition: width 0.3s ease-in-out;
  align-items: center;
}
.why-choose-section h1{
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}
.fa-solid{
  border: #f80 solid 2px;
  border-radius: 40px;
  color: #000;
  padding: 3px;
  font-size: 12px;
  font-weight: 900;
}
.check-point-icon{
  font-size: 14px;
}
.About-image img {
  opacity: 0;
  translate: -100%;
  transition: 800ms ease;
}

.About-image.show img{
  opacity: 1;
  translate: 0;
} 

.progress-container1 {
  opacity: 0;
  translate: -100%;
  transition: 700ms ease;
}

.progress-container1.show {
  opacity: 1;
  translate: 0;
} 
.service-box{
 opacity: 0;
  translate: -100%;
  transition: 800ms ease;
}
.service-box.show{
 opacity: 1;
  translate: 0;
}
.carousel-section{
   /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px; */
 
}
.testimonial-item{
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  box-shadow: 0px 4px 4px;
  max-width:500px ;
  max-height: 500px;
  margin: 0 auto;
  
}
.testimonial-section h1{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}
.testimonial-image1{
  width: 200px;
  height: 200px;
}
.testimonial-text{
  margin-top: 20px;
  margin-left: 10px;
}
.testimonial-text p{
   font-size: 14px;
}
.testimonial-text h4{
  color: #f80;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.testimonial-image2{
   width: 200px;
  height: 180px;
}
.testimonial-item{
  opacity: 0;
  translate: -100%;
  transition: 900ms ease-in;

}
.testimonial-item.show{
  opacity: 1;
  translate: 0;
}

/* .faq details {
  margin-bottom: 10px;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

.faq summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.faq p {
  margin-top: 8px;
} */
.faq-section{
margin-top: 50px;
text-align: center;
}
.faq-item {
  background-color: rgb(236, 231, 231);
  border-radius: 20px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}

.faq-question {
  font-size: 19px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  align-items: center;
  font-weight: 600;
}

.faq-question .text {
  flex: 1;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}

.icon {
  font-size: 27px;
  font-weight: bolder;
}
 .main{
background-color: #000;
text-align: center;
margin-top: 20px;

} 
.footer-header{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  max-width: 100%;
max-height: 100vh;

}

.footer-header h5{
  margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 19px;
margin-bottom: 30px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
  margin-bottom: 14px;
}
.fa-brands {
  padding: 9px;
  gap: 20px;
  margin-top: 14px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 13px;
}
.footer-link a{
  text-decoration: none;

  font-family: 'Times New Roman', Times, serif;
}
.main-footer{
  margin-left: 10px;
  text-align: center;
}
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: gainsboro;
}
.last-section{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 6%;
} 