@media (max-width: 960px) {
    .main-header {
   max-height: 100vh;
}

 .mobile-menu {
  position: fixed;  
  top: 0;
  right: -100%;     
  width: 100%;
  height: 100vh; 
  background: #000;
  color: white; 
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 100; 
}
  .nav-list ul {
    display: block; 
    text-align: center;
  }
  .hura-text{
    color: #f80;
    font-size: 22px;
    position: fixed;
  }

.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
    display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 0px;
    bottom: 0px;
    font-size: 30px;
    align-items: center;
}
  .close-icon {
    display: block; 
    font-size: 35px;
    margin-bottom: 20px;
}

}


@media (max-width: 860px) {
.main-header {
   max-height: 100vh;
}

 .mobile-menu {
  position: fixed;  
  top: 0;
  right: -100%;     
  width: 100%;
  height: 100vh; 
  background: #000;
  color: white; 
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 100; 
}
.nav-list ul {
    display: block; 
    text-align: center;
  }
  .hura-text{
    color: #f80;
    font-size: 22px;
    position: fixed;
  }

.content{
    font-size: 25px;
    margin-top: 15px;
}
.menu-icon {
    display: block; 
    color: #f80;
    position: fixed; 
    right: 5px; 
    top: 0px;
    bottom: 0px;
    font-size: 30px;
    align-items: center;
}
  .close-icon {
    display: block; 
    font-size: 35px;
    margin-bottom: 20px;
}

.header-flexbox{
    margin-top: 30px;
    margin-right: 0px;
  }
.left-section h1{
    margin-top: 0px;
    font-size: 18px;
    text-shadow: 0px 2px 2px rgb(37, 35, 35);
}
.left-section p{
  margin-top: 14px;
  font-size: 14px;
}
.btn2,
.btn1{
  margin-top: 20px;
  margin-bottom: 0px;
  width: 120px;
  padding: 6px;
  border-radius: 25px;
  background-color: black;
  color: white;
  gap: 20px;
  font-size: 17px;
  border: 2px solid #f80 ;
  font-size: 12px;
}
.carousel-image1{
  margin-left: 0px;
  width:450px;
  margin-bottom: 0;

}
.carousel-image2{
  margin-left: 50px;
  width: 250px;
  margin-bottom: 20px;
}
.blob-image img{
  width: 450px;
  margin-left: 0px;
}

.service-box{
  box-shadow: 0px 2px 2px;
  padding:  10px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.resi-section {
gap: 2px;
margin-top: 0px;
}
.resi-p{
  margin-top: 0px;
 font-size: 10px;
}
.resi-section h4 {
   font-size: 14px;
}
.resi-p1{
    font-size: 12px;
}
.resi-item {
   width: 400px;
  height: 200px;
}
.bbtn { 
  font-size: 12px;
  width: 120px;
  padding: 4px;
}
.footer-header{
flex-direction: column;
   text-align: center;
    gap: 10px; 
} 

.hura-item{

  flex-direction: column;
}
/* .main{
background-color: #000;
text-align: center;
} */
}


@media (max-width:800px){
   .service-box{
  box-shadow: 0px 2px 2px;
  padding:  10px;
  width: 180px;
  height: 200px;
  border-radius: 15px;
} 
}

@media (max-width:750px){
.left-section h1{
    margin-top: 0px;
    font-size: 16px;
    text-shadow: 0px 2px 2px rgb(37, 35, 35);
}
.left-section p{
  margin-top: 14px;
  font-size: 12px;
}
.btn2,
.btn1{
  margin-top: 20px;
  margin-bottom: 0px;
  width: 120px;
  padding: 6px;
  border-radius: 25px;
  background-color: black;
  color: white;
  gap: 20px;
  font-size: 17px;
  border: 2px solid #f80 ;
  font-size: 12px;
}
.carousel-image1{
  margin-left: 0px;
  width:420px;
  margin-bottom: 0;

}
.carousel-image2{
  margin-left: 50px;
  width: 250px;
  margin-bottom: 20px;
}
.blob-image img{
  width: 420px;
  margin-left: 0px;
}
}
@media (max-width:620px){
.left-section h1{
    margin-top: 0px;
    font-size: 14px;
    text-shadow: 0px 2px 2px rgb(37, 35, 35);
}
.left-section p{
  margin-top: 14px;
  font-size: 10px;
}
.btn2,
.btn1{
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100px;
  padding: 6px;
  border-radius: 25px;
  background-color: black;
  color: white;
  gap: 20px;
  font-size: 17px;
  border: 2px solid #f80 ;
  font-size: 12px;
}
.carousel-image1{
  margin-left: 0px;
  width:350px;
  margin-bottom: 0;

}
.carousel-image2{
  margin-left: 50px;
  width: 250px;
  margin-bottom: 20px;
}
.blob-image img{
  width: 350px;
  margin-left: 0px;
}

.about-img{
    width: 300px;
    margin-right: 10px;
    margin-top: 40px;
}
}
@media (max-width:590px){
.header-flexbox{
 
  margin-left: 20px;
}

.left-section h1{
    margin-top: 0px;
    font-size: 12px;
    text-shadow: 0px 2px 2px rgb(37, 35, 35);
}
.left-section p{
  margin-top: 14px;
  font-size: 10px;
}
.btn2,
.btn1{
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100px;
  padding: 6px;
  font-size: 12px;
}
.carousel-image1{
  margin-left: 0px;
  width:300px;
  margin-bottom: 0;

}
.carousel-image2{
  margin-left: 50px;
  width: 250px;
  margin-bottom: 0px;
}
.blob-image img{
  width: 300px;
  margin-left: 0px;
}

.header-flexbox{
  margin-left: 10px;
}
.about-img{
    width: 280px;
    margin-right: 10px;
    margin-top: 40px;
}
}
@media (max-width:499px){
  .hura-text{
    color: #f80;
    font-size: 15px;
    left: 5px;
  }

.content{
    font-size: 20px;
    margin-top: 15px;
}
.menu-icon { 
    font-size: 20px;
}
  .close-icon {
    display: block; 
    font-size: 25px;
}
.header-flexbox{
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.bg-image{
background-image: url('/images/dece1-removebg-preview.png');
  background-size: 70%;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;

}
.bg1-image{
  background-image: url('/images/hurr-removebg-preview-removebg-preview-removebg-preview.png');
  background-size: cover;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 /* display: flex;
 align-items: center; */
}
.bg2-image{
  background-image: url('/images/decc-removebg-preview.png');
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;
}
.bg3-image{
    background-image: url('/images/hura-image00-removebg-preview-removebg-preview.png');
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;
}
.text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 12px;
 max-width: 200px;
 margin-bottom: 20%;
}
.carousel-image2 img{
  margin-left: 0px;
  max-width: 400px;
  margin-bottom: 0;
  text-align: center;
}
/* .carousel-image2 img{
    margin-left: 0px;
  max-width: 200px;
  margin-bottom: 0;
  border: 3px solid #f80;
} */
.blob-image{
  background-image: url('images/blob-haikei.png');
  position: relative;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 50vh;
}
.blob-image img{
  
}
.carousel-image3{
  background-image: url('images/hura-image022-removebg-preview.png');
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 50vh;
}

.text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 12px;
 max-width: 200px;
 margin-bottom: 20%;
}
.about-img{
    width: 220px;
    margin-right: 10px;
    margin-top: 10px;
}
.About-text{
    margin-top: 20px;
    margin-left: 0px;
    line-height:20px;
    font-family: 'Times New Roman', Times, serif;
}
.About-text h2{
    margin-top: 35px;
    font-size: 20px;
    color: #000;
    font-weight: bolder;  
}
 .about-info{
    margin-left: 8px;
    color: #000;
    font-weight: 200;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family:
    Georgia, 'Times New Roman', Times, serif;

} 
.btns{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 120px;
    padding: 5px;
    border-radius: 15px;
    color: black;
    background-color: rgb(236, 231, 231);
    font-size: 18px;
    border: 1px solid #f80 ;
    font-size: 12px;
}
.progress-bar-section{
    margin-left: 15px;
}

.contact-section i{
  justify-content: center;
  margin-left: 50px;
}
.faq-item {
  background-color: rgb(236, 231, 231);
  border-radius: 20px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 400px;
}
/* .footer-header{
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  max-height: 100vh;
} */
.faq-question {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  align-items: center;
  font-weight: 600;
}
 .footer-header h5{
margin-top: 10px;
color: #f80;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
margin-bottom: 10px;

}
.footer-header p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.fa-brands {
  padding: 7px;
  gap: 15px;
  margin-left: 0px;
  background-color: white;
  color: #f80;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 5px;
}
.footer-link a{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
/* .main-footer{
  margin-left: 10px;
  text-align: center;
} */
address{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gainsboro;
}
.last-section{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  margin-top: 0%; 
 } 
}

@media (max-width:399px){
 .hura-text{
    color: #f80;
    font-size: 15px;
    left: 5px;
  }

.content{
    font-size: 20px;
    margin-top: 15px;
}
.menu-icon { 
    font-size: 20px;
}
  .close-icon {
    display: block; 
    font-size: 25px;
}
.header-flexbox{
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.bg-image{
background-image: url('/images/dece1-removebg-preview.png');
  background-size: 60%;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;

}
.bg1-image{
  background-image: url('/images/hurr-removebg-preview-removebg-preview-removebg-preview.png');
  background-size: cover;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 /* display: flex;
 align-items: center; */
}
.bg2-image{
  background-image: url('/images/decc-removebg-preview.png');
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;
}
.bg3-image{
    background-image: url('/images/hura-image00-removebg-preview-removebg-preview.png');
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;
}
/* .text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 12px;
 max-width: 200px;
 margin-bottom: 20%;
} */
.carousel-image2 img{
  margin-left: 0px;
  max-width: 400px;
  margin-bottom: 0;
  text-align: center;
}
/* .carousel-image2 img{
    margin-left: 0px;
  max-width: 200px;
  margin-bottom: 0;
  border: 3px solid #f80;
} */
.blob-image{
  background-image: url('images/blob-haikei.png');
  position: relative;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 50vh;
}
.blob-image img{
  
}
.carousel-image3{
  background-image: url('images/hura-image022-removebg-preview.png');
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 50vh;
}

 .text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 12px;
 max-width: 200px;
 margin-bottom: 20%;
} 

.about-img{
    max-width: 200px;
    margin-right: 10px;
    margin-top: 10px;
}
.About-text{
    margin-top: 20px;
    margin-left: 0px;
    line-height:15px;
    font-family: 'Times New Roman', Times, serif;
}
.header-section h2{
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: bolder;  
}
 .about-info{
    margin-left: 0px;
    color: #000;
    font-weight: 200;
    font-size: 10px;
    margin-top: 10px;
   

} 
.about-p p{
    font-size: 8px;
}
.btns{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 120px;
    padding: 5px;
    border-radius: 15px;
    color: black;
    background-color: rgb(236, 231, 231);
    font-size: 18px;
    border: 1px solid #f80 ;
    font-size: 12px;
}

.service-section{
  flex-direction: column;
}
.progress-container1
 {
  max-width: 100%;
  background: #f5f5f5;
  border-radius: 25px;
  overflow: hidden;
  height: 25px;
  margin: 10px 0;
}

.testimonial-item{
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  box-shadow: 0px 4px 4px;
  max-width:350px ;
  max-height: 350px;
  margin: 0 auto;
  
}
.testimonial-image1{
  width: 130px;
  height: 130px;
}

.testimonial-image2{
   width: 140px;
  height: 130px;
}
.testimonial-text p{
   font-size: 12px;
}
.testimonial-text h4{
  font-size: 15px;
}
.testimonial-section h1{
   margin-top: 50px;
   font-size: 15px;
}

.contact-section i{
  justify-content: center;
  margin-left: 50px;
}
.faq-item {
  background-color: rgb(236, 231, 231);
  border-radius: 20px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 340px;
}
.resi-section {
gap: 2px;
margin-top: 0px;
}
.resi-p{
  margin-top: 0px;
 font-size: 10px;
}
.resi-section h4 {
   font-size: 14px;
}
.resi-p1{
    font-size: 12px;
}
.resi-item {
   width: 200px;
  height: 200px;
}
.bbtn { 
  font-size: 12px;
  width: 120px;
  padding: 4px;
}

.faq-question {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  align-items: center;
  font-weight: 600;
}

.hura-item{

  flex-direction: column;
}

}

@media (max-width:320px){
.hura-text{
    color: #f80;
    font-size: 15px;
    left: 5px;
  }

.content{
    font-size: 20px;
    margin-top: 15px;
}
.menu-icon { 
    font-size: 20px;
}
  .close-icon {
    display: block; 
    font-size: 25px;
}
.header-flexbox{
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.bg-image{
background-image: url('/images/dece1-removebg-preview.png');
  background-size: 60%;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;

}
.bg1-image{
  background-image: url('/images/hurr-removebg-preview-removebg-preview-removebg-preview.png');
  background-size: cover;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 /* display: flex;
 align-items: center; */
}
.bg2-image{
  background-image: url('/images/decc-removebg-preview.png');
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;
}
.bg3-image{
    background-image: url('/images/hura-image00-removebg-preview-removebg-preview.png');
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  height: 40vh;
 display: flex;
 align-items: center;
}
.text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 12px;
 max-width: 200px;
 margin-bottom: 20%;
}
.carousel-image2 img{
  margin-left: 0px;
  max-width: 400px;
  margin-bottom: 0;
  text-align: center;
}
/* .carousel-image2 img{
    margin-left: 0px;
  max-width: 200px;
  margin-bottom: 0;
  border: 3px solid #f80;
} */
.blob-image{
  background-image: url('images/blob-haikei.png');
  position: relative;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 50vh;
}
.blob-image img{
  
}
.carousel-image3{
  background-image: url('images/hura-image022-removebg-preview.png');
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  background-size: contain;  
  background-position: right; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 50vh;
}

.text-bg4,
.text-bg3,
.text-bg2,
.text-bg1,
.text-bg{
  text-shadow: 0px 4px 4px #f80;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 font-size: 12px;
 max-width: 200px;
 margin-bottom: 20%;
}
.about-img{
    max-width: 170px;
    margin-right: 0px;
    margin-top: 10px;
}
.About-text{
    margin-top: 0px;
    margin-left: 0px;
    line-height:15px;
    font-family: 'Times New Roman', Times, serif;
}
.About-text h2{
    font-size: 15px;
    color: #000;
    text-align: start;
    font-weight: bolder;
    margin-right: 10px;  
}
 .about-info{
    margin-left: 0px;
    color: #000;
    font-weight: 200;
    font-size: 10px;
    margin-top: 10px;
} 
.about-p p{
    font-size: 8px;
}
.btns{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 120px;
    padding: 5px;
    border-radius: 15px;
    color: black;
    background-color: rgb(236, 231, 231);
    font-size: 18px;
    border: 1px solid #f80 ;
    font-size: 12px;
}
.service-header h2{
    font-size: 15px;
}
.price-header{
    font-size: 15px;
}
.testimonial-item{
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  box-shadow: 0px 4px 4px;
  max-width:300px ;
  max-height: 300px;
  margin: 0 auto; 
}
.testimonial-image1{
  width: 140px;
  height: 140px;
}
.testimonial-image2{
  width: 140px;
  height: 120px;
}
.testimonial-text p{
   font-size: 12px;
}
.testimonial-text h4{
  font-size: 15px;
}
.testimonial-section h1{
   margin-top: 50px;
   font-size: 15px;
}

.contact-section i{
  justify-content: center;
  margin-left: 50px;
}
.faq-item {
  background-color: rgb(236, 231, 231);
  border-radius: 20px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 300px;
}
/* .footer-header{
  flex-direction: column;
  gap: 10px;
} */
.faq-question {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  align-items: center;
  font-weight: 600;
}

.resi-section {
gap: 2px;

}
.resi-p{
  margin-top: 0px;
 font-size: 10px;
}
.resi-section h4 {
   font-size: 14px;
}
.resi-p1{
    font-size: 10px;
}
.resi-item {
   width: 200px;
  height: 150px;
}
.bbtn { 
  font-size: 10px;
  width: 100px;
  padding: 4px;
}

}

